@tailwind base;
@tailwind components;
@tailwind utilities;
/* If you are NOT using a build tool, you cannot use this file as is. 
  You would need to include the Tailwind CDN link in your HTML instead.
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}